@import "reset.scss";

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

header{
    position: relative;
    padding: 54px 61px;
    background: url(../../assets/images/pattern-bg.svg) no-repeat;
    background-position: 46% 45%;
    background-size: 88%;


        .container-img{
            img{
                width: 254px;
                height: 253px;
            }
        }

        .icon-slider{
            border-radius: 20px;
            height: 40px;
            width: 80px;
            background: #fff;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                &:nth-child(2){
                    margin-left:32px;
                }
            }
        }
    
}

main{
    
    .testimonial{
        background: url(../../assets/images/pattern-quotes.svg) no-repeat top center;
        background-size: 17%;

        .paragraph{
            color: #202046;
            font-size:17px;
            padding: 30px 35px;
            line-height: 25px;
            text-align: center;
        }
        h2{
            color: #202046;
            font-size:18px;
            text-align: center;
        }
        span{
            display: block;
            color: hsl(240, 18%, 77%);
            text-align: center;
        }
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 100px;
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}